body {
	
}
h1{
    color: yellow;
    text-align: center;
    background-color: orange;
    
}
.btn{
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
